@use '../base/variables' as v;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Base */

body {
  font-family: v.$main-font ;
  font-size: 1rem;
}

.d-flex-c-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-primary{
  background-color: v.$primary;
}



