{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <section class="hero">
        <div class="carrousel">
            <div class="carrousel-bloc"></div>
            <div class="carrousel-bloc"></div>
            <div class="carrousel-bloc"></div>
        </div>
    </section>

    <section class="about">
        <div class="home-bloc"></div>
        <div class="home-bloc"></div>
        <div class="home-bloc"></div>
    </section>

    <section class="avis-section">
        <div class="avis-bloc"></div>
    </section>

    <section class="partners">
    </section>

    <section class="contact">
    </section>

{% endblock %}
