

<header>
    <nav class="navbar">
        <div>
            <img src="img/logo.png" alt="logo">
        </div>
        <div>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Réservation</a></li>
            </ul>
        </div>
    </nav>
</header>


