<form class="delete-btn" method="post" action="{{ path('app_equipment_delete', {'id': equipment.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer l\'équipement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipment.id) }}">
    <button class="delete-btn">Supprimer</button>
</form>
