<form class="delete-btn" method="post" action="{{ path('app_reservation_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer la réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="delete-btn">Annuler</button>
</form>
