{% extends 'base.html.twig' %}

{% block title %}Modifier Reservation{% endblock %}

{% block body %}
    <h1>Modifier Reservation</h1>

    <section>
        <a class="m-left view-btn" href="{{ path('app_reservation_index') }}">Retour</a>
    <section>

{% endblock %}
