{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
        <h1>Réserver votre équipement</h1>

        {{ include('reservation/_form.html.twig') }}

        <a class="view-btn" href="{{ path('prereservation') }}">Retour</a>
{% endblock %}