@use '../base/variables' as v;
@use '../base/mixins' as m;

.about-btn {
  color: v.$white;
  padding: 0.5rem 1rem;
  border: 1px solid v.$white;
  border-radius: 1rem;
}

.reservation-btn, .create-btn, .edit-btn, .delete-btn, .view-btn {
  display: block;
  color: v.$white;
  background-color: v.$tertiary;
  border: none;
  width: fit-content;
  border-radius: 1rem;
  padding: 1% 2% 1% 2%;
  font-size: 2rem;
}

.view-btn{
  background-color: v.$primary;
  font-size: 1.3rem;
}

.edit-btn {
  background-color: rgb(203, 203, 0);
  font-size: 1.3rem;
}
.delete-btn {
  background-color: red;
  font-size: 1.3rem;
}

@include m.for-tablet {}

@include m.for-desktop {
  .about-btn {
    border: none;
  }

  .home-bloc:hover .about-btn {
    border: 2px solid v.$white;
  }

  .reservation-btn {
    font-size: 1.5rem;
  }
}