@use '../base/variables' as v;
@use '../base/mixins' as m;

.equipment{
    .card{
        display: flex;
        flex-direction: column;
        margin: 5% auto;
    }

    .img-equipment {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .text-body{
        color: v.$white;
        padding: 2%;
        background-color: rgba(5, 150, 105, 0.8);
    }

    .price{
        font-size: 1.6rem;
    }
}

//media queries
@include m.for-tablet {
}

@include m.for-desktop {
    .equipment{
        .card{
            width: 90%;
            flex-direction: row;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
            height: 350px;
        }

        .text-body {
            padding: 1%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
        }

        .img-equipment{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}