@use '../base/variables' as v;
@use '../base/mixins' as m;

.table {
    width: 90%;
    margin: 2% auto;
    text-align: left;
}

.m-left {
    margin-left: 2%;
}

h1 {
    margin-bottom: 15%;
}

//media queries
@include m.for-tablet {}

@include m.for-desktop {
    h1 {
        margin-bottom: 5%;
    }
}