@use '../base/variables' as v;
@use '../base/mixins' as m;

.table{
    width: 100%;
    padding: 5%;
    text-align: left;
}

.btn-flex{
    display: flex;
    justify-content: start;
    gap: 5%;
}

.m-left{
    margin-left: 2%;
}