<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="https://kit.fontawesome.com/49b5843b5a.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDatv9eE-Dx1rmitL0DCPUnC5rq4mqPfvE"></script>

</head>

<body>
    <main>
        {% include 'partials/navbar.html.twig' %}
        {% block body %} {% endblock %}
    </main>
</body>
</html>